<!DOCTYPE html>
<html>
    <head>
        <title>Warzone Leaderboard</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="header">
            <h1>Warzone Stats Bot</h1>
            <div class="social">
                <a href="https://discordapp.com/oauth2/authorize?scope=bot&client_id=711383069160112128" target='_blank'>
                    <img src="/assets/Discord-Logo-Black.png" alt="Discord"/></a>
                <a href="https://github.com/haroon96/cod-daily-stats" target='_blank'>
                    <img src="/assets/GitHub-Mark-64px.png" alt="GitHub"/></a>
            </div>
        </div>
        <h1 class="center leaderboard-title">Leaderboard</h1>
        <div id="leaderboard" class="leaderboard">
            <div class="control-panel">
                <input v-model="filter" placeholder="Search">
                <select>
                    <option v-for="ts in timestamps">{{ ts | time }}</option>
                </select>    
            </div>
            <table>
                <thead>
                    <tr>
                        <th style="width:2%" class="center">#</th>
                        <th style="width:20%">
                            <span>Player</span>
                        </th>
                        <th style="width:5%" :class="{ 'highlight': sortBy == 'Matches' }" @click="sort('Matches')" class="center hoverable">
                            <span>Matches</span>
                            <span class="sort-arrow">{{ sortBy == 'Matches' ? ( desc ? '▼' : '▲') : '' }}</span>
                        </th>
                        <th style="width:5%" :class="{ 'highlight': sortBy == 'K/D' }" @click="sort('K/D')" class="center hoverable">
                            <span>K/D</span>
                            <span class="sort-arrow">{{ sortBy == 'K/D' ? ( desc ? '▼' : '▲') : '' }}</span>
                        </th>
                        <th style="width:5%" :class="{ 'highlight': sortBy == 'Kills' }" @click="sort('Kills')" class="center hoverable">
                            <span>Kills</span>
                            <span class="sort-arrow">{{ sortBy == 'Kills' ? ( desc ? '▼' : '▲') : '' }}</span>
                        </th>
                        <th style="width:5%" :class="{ 'highlight': sortBy == 'Deaths' }" @click="sort('Deaths')" class="center hoverable">
                            <span>Deaths</span>
                            <span class="sort-arrow">{{ sortBy == 'Deaths' ? ( desc ? '▼' : '▲') : '' }}</span>
                        </th>
                        <th style="width:5%" :class="{ 'highlight': sortBy == 'Score' }" @click="sort('Score')" class="center hoverable">
                            <span>Score</span>
                            <span class="sort-arrow">{{ sortBy == 'Score' ? ( desc ? '▼' : '▲') : '' }}</span>
                        </th>
                        <th style="width:5%" :class="{ 'highlight': sortBy == 'Headshots' }" @click="sort('Headshots')" class="center hoverable">
                            <span>Headshots</span>
                            <span class="sort-arrow">{{ sortBy == 'Headshots' ? ( desc ? '▼' : '▲') : '' }}</span>
                        </th>
                        <th style="width:5%" :class="{ 'highlight': sortBy == 'Assists' }" @click="sort('Assists')" class="center hoverable">
                            <span>Assists</span>
                            <span class="sort-arrow">{{ sortBy == 'Assists' ? ( desc ? '▼' : '▲') : '' }}</span>
                        </th>
                        <th style="width:5%" :class="{ 'highlight': sortBy == 'Executions' }" @click="sort('Executions')" class="center hoverable">
                            <span>Executions</span>
                            <span class="sort-arrow">{{ sortBy == 'Executions' ? ( desc ? '▼' : '▲') : '' }}</span>
                        </th>
                        <th style="width:5%" :class="{ 'highlight': sortBy == 'Vehicles Destroyed' }" @click="sort('Vehicles Destroyed')" class="center hoverable" title="Vehicles Destroyed">
                            <span>V/D</span>
                            <span class="sort-arrow">{{ sortBy == 'Vehicles Destroyed' ? ( desc ? '▼' : '▲') : '' }}</span>
                        </th>
                        <th style="width:5%" :class="{ 'highlight': sortBy == 'Team Wipes' }" @click="sort('Team Wipes')" class="center hoverable" title="Team Wipes">
                            <span>T/W</span>
                            <span class="sort-arrow">{{ sortBy == 'Team Wipes' ? ( desc ? '▼' : '▲') : '' }}</span>
                        </th>
                        <th style="width:5%" :class="{ 'highlight': sortBy == 'Total XP' }" @click="sort('Total XP')" class="center hoverable">
                            <span>XP</span>
                            <span class="sort-arrow">{{ sortBy == 'Total XP' ? ( desc ? '▼' : '▲') : '' }}</span>
                        </th>
                        <th style="width:5%" :class="{ 'highlight': sortBy == 'Time Played' }" @click="sort('Time Played')" class="center hoverable">
                            <span>Time</span>
                            <span class="sort-arrow">{{ sortBy == 'Time Played' ? ( desc ? '▼' : '▲') : '' }}</span>
                        </th>
                    </tr>
                </thead>
                <tbody name="table-row" is="transition-group">
                    <tr v-for="row in filteredStats" :key="row.username" :class="{ 'top': row.position <= 3 }">
                        <td class="center">{{ row.position }}</td>
                        <td>
                            <div class="flex flex-v-center">
                                <span v-html="getIcon(row.platform)" class="platform-icon"></span>
                                <span>{{ row.username }}</span>
                            </div>
                        </td>
                        <td class="center" :class="{ 'highlight': sortBy == 'Matches' }">{{ row.stats['Matches'] }}</td>
                        <td class="center" :class="{ 'highlight': sortBy == 'K/D' }">{{ row.stats['K/D'] }}</td>
                        <td class="center" :class="{ 'highlight': sortBy == 'Kills' }">{{ row.stats['Kills'] }}</td>
                        <td class="center" :class="{ 'highlight': sortBy == 'Deaths' }">{{ row.stats['Deaths'] }}</td>
                        <td class="center" :class="{ 'highlight': sortBy == 'Score' }">{{ row.stats['Score'] }}</td>
                        <td class="center" :class="{ 'highlight': sortBy == 'Headshots' }">{{ row.stats['Headshots'] }}</td>
                        <td class="center" :class="{ 'highlight': sortBy == 'Assists' }">{{ row.stats['Assists'] }}</td>
                        <td class="center" :class="{ 'highlight': sortBy == 'Executions' }">{{ row.stats['Executions'] }}</td>
                        <td class="center" :class="{ 'highlight': sortBy == 'Vehicles Destroyed' }">{{ row.stats['Vehicles Destroyed'] }}</td>
                        <td class="center" :class="{ 'highlight': sortBy == 'Team Wipes' }">{{ row.stats['Team Wipes'] }}</td>
                        <td class="center" :class="{ 'highlight': sortBy == 'Total XP' }">{{ row.stats['Total XP'] }}</td>
                        <td class="center" :class="{ 'highlight': sortBy == 'Time Played' }">{{ row.stats['Time Played'] | timePlayedLimit }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/2.3.2/moment-duration-format.min.js"></script>
        <script src="scripts.js"></script>
    </body>
</html>