@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

body {
    margin: 24px;
    background: #3973ac;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue';
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 16px 24px;
    background: #ccccff;
}

.header .social img {
    height: 36px;
    margin: 0px 4px;
}

.center {
    text-align: center;;
}

.right {
    text-align: right;
}

.flex {
    display: flex;
}

.flex-v-center {
    align-items: center;
}

.leaderboard-title {
    color: white;
    font-size: 42px;
    margin-top: 36px;
}

#leaderboard {
    margin: 24px 0px;
    padding: 12px;
    color: white;
    background: #222;
    min-width: 1000px;
    border-radius: 8px;
}

#leaderboard select {
    padding: 4px;
    background: black;
    border: none;
}

#leaderboard table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#leaderboard table th {
    font-family: 'Bebas Neue';
    padding: 4px;
    font-size: 18px;

    color: white;
    background: black;
}

#leaderboard table thead > tr {
    position: sticky;
    top: 0;
}

#leaderboard th > span {
    display: block;
}

#leaderboard table thead th.hoverable:hover {
    background: #cc9966;
    cursor: pointer;
}

#leaderboard table td {
    font-family: 'Roboto';
    padding: 4px;
    vertical-align: middle;
    font-size: 14px;
    color: #333;
}

.table-row-move {
    transition: transform 1s;
}

.table-row-enter-active, .table-row-leave-active {
    transition: all 1s;
}

.table-row-enter {
    transform: translateY(-30px);
    opacity: 1;
}

.table-row-leave-to {
    transform: translateY(30px);
    opacity: 0;
}

#leaderboard table tbody > tr {
    background: #333;
}

#leaderboard table tbody > tr.top {
    background: gold;
}

#leaderboard table tbody tr.top > td {
    color: black;
}

#leaderboard table  tr.top .platform-icon > svg {
    fill: black;
}

#leaderboard table tbody > tr.top:hover {
    background: goldenrod;
}

#leaderboard table tbody > tr:hover {
    background: #555;
}

#leaderboard table tbody td {
    color: white;
}

#leaderboard table td.highlight,
#leaderboard table th.highlight {
    background: #cc9966;
}

#leaderboard table th.highlight,
#leaderboard table td.highlight {
    color: black;
}

#leaderboard table td.highlight {
    font-weight: bold;
}

#leaderboard table .platform-icon > svg {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    fill: white;
    position: relative;
    top: 2px;
}

#leaderboard .control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #333; */
    padding: 8px 24px;
}

#leaderboard .control-panel > input {
    background: transparent;
    border: none;
    color: white;
    width: 40%;
    font-size: 18px;
    font-family: 'Roboto';
}

.sort-arrow {
    font-size: 12px;
    vertical-align: middle;
    margin-left: 4px;
}